body 
{
    font-family:Arial;
    background-color:blanchedalmond;
}

.button
{
    background-color:#0080c0;
    color:white;
    border-width:4;
    border-style:ridge;
    font-size:16;
    font-weight:bold;
    height:50;
    width:200;
}

.txtBox
{
    font-family:Arial;
}

.text
{
    background:white;
}

p
{
    background:white;
    width:500px;
    resize:both;
}
